body {
    padding-top: 20px;
    font-family: 'EB Garamond';
    background-color: cornsilk;
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    /* background-color: aquamarine; */
} 

.menu{
    /* background-color: darkmagenta; */
    padding: 35px;
}

.ptitle{
    text-align: center; 
    border-style: double;
    border-radius: 10px;
    border-color: #ff8c01;
    padding: 5px;
    font-weight: bolder;
}

.footer {
    padding: 10px;
    text-align: center;
    /* background: dodgerblue; */
}

#email{
    color: #ff8c01;
    text-decoration: none;
}